<div class=main>
  <button-bar-item *menuText="'Simple Films 1'">
    <app-simplefilms></app-simplefilms>
  </button-bar-item>

  <button-bar-item *menuText="'Simple Films 2'">
    <app-simplefilms2></app-simplefilms2>
  </button-bar-item>

  <button-bar-item *menuText="'Simple Films 3'">
    <app-simplefilms3></app-simplefilms3>
  </button-bar-item>

  <button-bar-item *menuText="'Simple Films 4'">
    <app-simplefilms4></app-simplefilms4>
  </button-bar-item>

  <button-bar-item *menuText="'WikiPedia'">
    <p>Search wikipedia with autocomplete</p>
    <app-wikipedia></app-wikipedia>
  </button-bar-item>

  <button-bar-item *menuText="'Error Isolation'">
    <app-error-isolation></app-error-isolation>
  </button-bar-item>

  <button-bar-item *menuText="'TakeUntil'">
    <p>Use takeUntil to unsubscribe</p>
    <p>Open console and click sample's button to close component and see it stop.</p>
    <app-take-until></app-take-until>
  </button-bar-item>

  <button-bar-item *menuText="'AsyncPipe'">
    <p>AsyncPipe automatically unsubscribes</p>
    <p>Open console and click sample's button to close component and see it stop.</p>
    <app-async></app-async>
  </button-bar-item>

  <button-bar-item *menuText="'Multi-stream'">
    <p>Combine three film streams into one</p>
    <app-multi-stream></app-multi-stream>
  </button-bar-item>

  <button-bar-item *menuText="'people'">
    <p>People Paging</p>
    <app-sw-people></app-sw-people>
  </button-bar-item>

  <button-bar-item *menuText="'forkJoin'">
    <p>People with home planets, using forkJoin</p>
    <app-people-w-planet></app-people-w-planet>
  </button-bar-item>

  <button-bar-item *menuText="'People Find'">
    <p>People Finding</p>
    <p>Filtering results and lazy loading images</p>
    <app-sw-people-find></app-sw-people-find>
  </button-bar-item>

</div>
